body,html{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:0;
    margin:0;
    min-height:100vh;
    font-size:62.7%;
    font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif
}
.btn,.btn:link,.btn:visited{
    all:unset;
    text-decoration:none;
    text-transform:lowercase;
    padding:1.5rem 4rem;
    display:inline-block;
    border-radius:2px;
    font-size:1.6rem;
    cursor:pointer;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.3);
    transition:all .3s
}
.btn:active,.btn:focus{
    outline:0;
    box-shadow:none
}
.headings{
    font-size:2.4rem!important;
    font-weight:500!important
}
.btn--green{
    background-color:#77959e;
    color:#fff;
    letter-spacing:.1rem
}
.btn--blue{
    background-color:#4dc8ef;
    color:#fff;
    letter-spacing:.1rem
}
.btn--warn{
    background-color:#e76e54;
    color:#fff;
    letter-spacing:.1rem
}
.center{
    position:relative;
    left:50%;
    transform:translateX(-50%)
}
.marginBS{
    margin-bottom:1.5rem
}
.main--heading{
    font-size:2rem;
    color:#555;
    font-weight:400;
    text-align:center;
    padding-bottom:1.2rem;
    border-bottom:3px solid #77959e
}
.logout--img{align-self:center;width:2rem}
.navbar{float:right;margin-right:2rem}
.navigation{display:flex;font-size:1.6rem;font-weight:400}
.navigation--links:not(:last-child){margin-right:1.5rem}
.navigation--links:link,.navigation--links:visited{border-radius:2px;padding:.3rem;color:#333;text-decoration:none;text-transform:uppercase;display:inline-block;transition:all .2s}
.navigation--links:active,.navigation--links:hover{background-color:#e76e54;color:#fff;box-shadow:0 1rem 2rem rgba(0,0,0,.3);transform:rotate(5deg) scale(1.3)}
.main{display:flex;flex-direction:column;justify-content:center;align-items:center}
.index--heading{text-align:center;font-size:4rem;font-weight:300}
.index--description{text-align:center;font-size:1.4rem;font-weight:400;letter-spacing:.2rem}
.index--logo{width:10rem;text-align:center}.form{width:30rem;align-self:center;display:flex;flex-direction:column;padding:2rem;box-shadow:0 .5rem 2rem rgba(0,0,0,.3);border-radius:.2rem}
.form--group:not(:last-child){margin-bottom:2rem}
.form--input{width:90%;font-size:1.5rem;font-family:inherit;color:inherit;padding:1.5rem 2rem;border-radius:2px;background-color:rgba(255,255,255,.5);border:none;border-bottom:3px solid transparent;display:block;transition:all .3s}
.form--input::-webkit-input-placeholder{color:#888}
.form--input:focus:invalid{border-bottom:3px solid #e76e54}
.form--input:focus{outline:0;box-shadow:0 1rem 2rem rgba(0,0,0,.1);border-bottom:3px solid #4dc8ef}
.form--label{font-size:1.4rem;font-weight:700;margin-left:2rem;margin-top:.7rem;display:block;transition:all .3s}
.form--input:placeholder-shown+.form--label{opacity:0;visibility:hidden;transform:translateY(-4rem)}
.user-main{display:flex;justify-content:space-around;align-items:center}
.user{display:flex;flex-direction:column;width:auto;justify-content:center;align-items:center}
.task-main{display:flex;justify-content:space-around;align-items:center}
.tasks{display:flex;flex-direction:column;font-size:1.8rem;overflow-y:auto;max-height:37.8rem;box-shadow:0 .5rem 2rem rgba(0,0,0,.3);border-radius:.2rem}
.tasks::-webkit-scrollbar{width:.5rem}
.tasks::-webkit-scrollbar-track{box-shadow:inset 0 0 5px rgba(0,0,0,.3)}
.tasks::-webkit-scrollbar-thumb{background-color:#77959e;border-radius:.5rem}
.create-task{display:flex;justify-content:center;align-items:center;width:auto}
.footer{bottom:0;font-size:1.5rem;display:flex;flex-direction:column;align-items:center;justify-content:end;height:20vh}
.footer--logo-box{display:flex;justify-content:center;padding:1.5rem}
.footer--logo{width:5rem}.footer--content{width:100%;display:flex;justify-content:space-around;align-items:center}
.footer--nav{border-top:1px solid #777;padding-top:1.5rem;display:inline-block}
.footer--copyright p{text-align:center}
.footer--link:not(:last-child){margin-right:1.5rem}
.footer--link:link,.footer--link:visited{border-radius:2px;padding:.3rem;color:#333;text-decoration:none;text-transform:uppercase;display:inline-block;transition:all .2s}
.footer--link:active,.footer--link:hover{background-color:#4dc8ef;color:#fff;box-shadow:0 1rem 2rem rgba(0,0,0,.3);transform:rotate(5deg) scale(1.3)}
.error{display:flex;flex-direction:column;justify-content:center;align-items:center;font-size:2.4rem}
.error-status{color:#d2691e;font-weight:400}
.error-message{color:#54830e;font-weight:400}
@media only screen and (max-width:1060px){
    .footer--content{flex-direction:column}
    .footer--nav{align-items:center}
    .task-main{flex-direction:column}
    .create-task{margin:2.4rem 0}
    .tasks{margin:2.4rem 0}
.user-main{flex-direction:column}
.user{margin:2.4rem 0}}
@media only screen and (max-width:400px){
    .task-main{padding:1.2rem}
    .create-task{margin:2.4rem 0}
    .tasks{margin:2.4rem 0
    }
    .user-main{padding:1.2rem}
    .user{margin:2.4rem 0}
    .form{margin:5rem 0}
.form--input{width:90%;}
body{align-items:center;}}